<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/logo aeemci-esatic-Ramadhan-sansFond.png">
    <link rel="stylesheet" href="/css/comgal.css">

    <title>Ramadan2023</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/">
        <img src="/image/logo aeemci-esatic-Ramadhan-sansFond.png" alt="">
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/bilan">Bilan journalier</a></li>
      <!-- <li><a href="/contact">Contact</a></li> -->
    </ul>
    <div class="menu-icon" id="menu">
      <i class="fas fa-bars"></i>
    </div>
  </nav>
  

    <section class="choix-commission">
      <a href="/comgallette" class="commission-gallette">
        <h2 class="nom-commission">
          formulaire
        </h2>
      </a>
    </section>
    <script src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>