<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
          <a href="/">
            <img src="/image/logo aeemci-esatic-Ramadhan-sansFond.png" alt="">
          </a>
        </div>
        <ul class="nav-links">
          <li><a href="/">Accueil</a></li>
          <li><a href="/bilan">Bilan journalier</a></li>
          <!-- <li><a href="/contact">Contact</a></li> -->
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
    </nav>

    <section class="choix-commission">
      <a href="/comgallette" class="commission-gallette">
        <h2 class="nom-commission">
          formulaire
        </h2>
      </a>
      <!-- <a href="/comgallette" class="commission-gallette">
        <h2 class="nom-commission">
          COMMISSION STO
        </h2>
      </a> -->
    </section>
      
</body>
</html>